
@{
    ViewBag.Title = "RazorTest";
}

<h2>RazorTest</h2>
@{ 

    var name = "John";
    string name2 = "Kevin";
    int Math = 85, Eng = 90, Chi = 95;

    @:歡迎 @name 光臨          @*純文字前須加@:*@

    <span>歡迎</span>


  }
