body {
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 255, 0, 0.05);
}

.table-bordered {
    border: 5px double #ff0000;
}

    .table-bordered th,
    .table-bordered td {
        border: 3px solid #dee2e6;
    }